@import url('./ress.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #0e0e0e;
}

.pressurized-gradient-primary {
  background: radial-gradient(circle at top left, #859aff, #3e65ff);
}
